#######   HTAccessIPBlocker BEGIN    #######
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REMOTE_ADDR} ^37.162.15.137$ [OR]
    RewriteCond %{REMOTE_ADDR} ^43.225.73.218$ [OR]
    RewriteCond %{REMOTE_ADDR} ^41.59.90.59$ [OR]
    RewriteCond %{REMOTE_ADDR} ^2.50.128.12$ [OR]
    RewriteCond %{REMOTE_ADDR} ^72.234.20.219$ [OR]
    RewriteCond %{REMOTE_ADDR} ^171.234.10.156$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.162.127.18$ [OR]
    RewriteCond %{REMOTE_ADDR} ^102.39.255.57$ [OR]
    RewriteCond %{REMOTE_ADDR} ^117.254.15.72$ [OR]
    RewriteCond %{REMOTE_ADDR} ^179.209.46.93$ [OR]
    RewriteCond %{REMOTE_ADDR} ^71.188.71.171$ [OR]
    RewriteCond %{REMOTE_ADDR} ^181.24.164.252$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.138.255.17$ [OR]
    RewriteCond %{REMOTE_ADDR} ^186.248.199.198$ [OR]
    RewriteCond %{REMOTE_ADDR} ^86.120.247.90$ [OR]
    RewriteCond %{REMOTE_ADDR} ^177.193.214.68$ [OR]
    RewriteCond %{REMOTE_ADDR} ^155.12.96.254$ [OR]
    RewriteCond %{REMOTE_ADDR} ^190.113.185.59$ [OR]
    RewriteCond %{REMOTE_ADDR} ^37.245.44.113$ [OR]
    RewriteCond %{REMOTE_ADDR} ^14.162.180.230$ [OR]
    RewriteCond %{REMOTE_ADDR} ^59.96.93.108$ [OR]
    RewriteCond %{REMOTE_ADDR} ^220.126.174.227$ [OR]
    RewriteCond %{REMOTE_ADDR} ^183.82.32.190$ [OR]
    RewriteCond %{REMOTE_ADDR} ^178.214.67.225$ [OR]
    RewriteCond %{REMOTE_ADDR} ^112.206.75.191$ [OR]
    RewriteCond %{REMOTE_ADDR} ^189.48.98.91$ [OR]
    RewriteCond %{REMOTE_ADDR} ^143.44.164.163$ [OR]
    RewriteCond %{REMOTE_ADDR} ^152.58.32.213$ [OR]
    RewriteCond %{REMOTE_ADDR} ^119.93.215.223$ [OR]
    RewriteCond %{REMOTE_ADDR} ^200.44.204.79$ [OR]
    RewriteCond %{REMOTE_ADDR} ^41.221.203.41$ [OR]
    RewriteCond %{REMOTE_ADDR} ^210.1.131.55$ [OR]
    RewriteCond %{REMOTE_ADDR} ^112.200.96.178$ [OR]
    RewriteCond %{REMOTE_ADDR} ^62.4.45.173$ [OR]
    RewriteCond %{REMOTE_ADDR} ^51.235.225.130$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.190.61.115$ [OR]
    RewriteCond %{REMOTE_ADDR} ^170.79.16.21$ [OR]
    RewriteCond %{REMOTE_ADDR} ^197.235.8.82$ [OR]
    RewriteCond %{REMOTE_ADDR} ^197.218.110.135$ [OR]
    RewriteCond %{REMOTE_ADDR} ^183.83.234.238$ [OR]
    RewriteCond %{REMOTE_ADDR} ^112.134.141.210$ [OR]
    RewriteCond %{REMOTE_ADDR} ^86.124.142.92$ [OR]
    RewriteCond %{REMOTE_ADDR} ^77.77.216.42$ [OR]
    RewriteCond %{REMOTE_ADDR} ^58.97.229.82$ [OR]
    RewriteCond %{REMOTE_ADDR} ^113.203.200.46$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.167.29.10$ [OR]
    RewriteCond %{REMOTE_ADDR} ^213.204.124.6$ [OR]
    RewriteCond %{REMOTE_ADDR} ^117.247.16.207$ [OR]
    RewriteCond %{REMOTE_ADDR} ^159.192.34.227$ [OR]
    RewriteCond %{REMOTE_ADDR} ^152.58.187.106$ [OR]
    RewriteCond %{REMOTE_ADDR} ^79.62.149.180$ [OR]
    RewriteCond %{REMOTE_ADDR} ^161.9.81.127$ [OR]
    RewriteCond %{REMOTE_ADDR} ^187.188.233.13$ [OR]
    RewriteCond %{REMOTE_ADDR} ^116.206.203.26$ [OR]
    RewriteCond %{REMOTE_ADDR} ^190.43.149.148$ [OR]
    RewriteCond %{REMOTE_ADDR} ^190.210.32.135$ [OR]
    RewriteCond %{REMOTE_ADDR} ^121.123.155.146$ [OR]
    RewriteCond %{REMOTE_ADDR} ^168.194.56.194$ [OR]
    RewriteCond %{REMOTE_ADDR} ^194.44.50.7$ [OR]
    RewriteCond %{REMOTE_ADDR} ^181.90.79.45$ [OR]
    RewriteCond %{REMOTE_ADDR} ^183.82.176.166$ [OR]
    RewriteCond %{REMOTE_ADDR} ^37.19.108.118$ [OR]
    RewriteCond %{REMOTE_ADDR} ^206.0.23.125$ [OR]
    RewriteCond %{REMOTE_ADDR} ^212.3.195.89$ [OR]
    RewriteCond %{REMOTE_ADDR} ^180.190.7.247$ [OR]
    RewriteCond %{REMOTE_ADDR} ^5.28.145.148$ [OR]
    RewriteCond %{REMOTE_ADDR} ^72.255.40.25$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.191.60.70$ [OR]
    RewriteCond %{REMOTE_ADDR} ^14.253.32.134$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.34.145.116$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.61.33.74$ [OR]
    RewriteCond %{REMOTE_ADDR} ^189.90.59.146$ [OR]
    RewriteCond %{REMOTE_ADDR} ^80.89.73.89$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.188.174.242$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.36.217.152$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.77.43.154$ [OR]
    RewriteCond %{REMOTE_ADDR} ^201.94.218.75$ [OR]
    RewriteCond %{REMOTE_ADDR} ^110.224.189.79$ [OR]
    RewriteCond %{REMOTE_ADDR} ^99.248.46.52$ [OR]
    RewriteCond %{REMOTE_ADDR} ^165.255.22.80$ [OR]
    RewriteCond %{REMOTE_ADDR} ^5.22.135.211$ [OR]
    RewriteCond %{REMOTE_ADDR} ^136.158.78.229$ [OR]
    RewriteCond %{REMOTE_ADDR} ^210.14.105.141$ [OR]
    RewriteCond %{REMOTE_ADDR} ^197.232.61.223$ [OR]
    RewriteCond %{REMOTE_ADDR} ^202.72.240.118$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.108.33.77$ [OR]
    RewriteCond %{REMOTE_ADDR} ^190.245.92.29$ [OR]
    RewriteCond %{REMOTE_ADDR} ^46.235.42.83$ [OR]
    RewriteCond %{REMOTE_ADDR} ^88.201.6.236$ [OR]
    RewriteCond %{REMOTE_ADDR} ^87.91.43.76$ [OR]
    RewriteCond %{REMOTE_ADDR} ^89.155.209.101$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.191.176.118$ [OR]
    RewriteCond %{REMOTE_ADDR} ^179.108.188.70$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.190.60.236$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.218.236.226$ [OR]
    RewriteCond %{REMOTE_ADDR} ^105.160.108.209$ [OR]
    RewriteCond %{REMOTE_ADDR} ^51.235.204.11$ [OR]
    RewriteCond %{REMOTE_ADDR} ^101.128.96.26$ [OR]
    RewriteCond %{REMOTE_ADDR} ^122.176.102.225$ [OR]
    RewriteCond %{REMOTE_ADDR} ^5.236.56.201$ [OR]
    RewriteCond %{REMOTE_ADDR} ^46.198.239.35$ [OR]
    RewriteCond %{REMOTE_ADDR} ^102.65.123.205$ [OR]
    RewriteCond %{REMOTE_ADDR} ^154.120.229.234$ [OR]
    RewriteCond %{REMOTE_ADDR} ^157.45.82.184$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.249.232.182$ [OR]
    RewriteCond %{REMOTE_ADDR} ^94.73.4.3$ [OR]
    RewriteCond %{REMOTE_ADDR} ^151.63.109.59$ [OR]
    RewriteCond %{REMOTE_ADDR} ^102.217.126.3$ [OR]
    RewriteCond %{REMOTE_ADDR} ^106.204.169.136$ [OR]
    RewriteCond %{REMOTE_ADDR} ^58.27.152.178$ [OR]
    RewriteCond %{REMOTE_ADDR} ^91.232.214.240$ [OR]
    RewriteCond %{REMOTE_ADDR} ^223.178.59.196$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.147.112.161$ [OR]
    RewriteCond %{REMOTE_ADDR} ^47.55.218.166$ [OR]
    RewriteCond %{REMOTE_ADDR} ^151.250.137.177$ [OR]
    RewriteCond %{REMOTE_ADDR} ^39.49.33.53$ [OR]
    RewriteCond %{REMOTE_ADDR} ^106.212.29.173$ [OR]
    RewriteCond %{REMOTE_ADDR} ^190.89.50.69$ [OR]
    RewriteCond %{REMOTE_ADDR} ^106.211.26.125$ [OR]
    RewriteCond %{REMOTE_ADDR} ^147.236.148.25$ [OR]
    RewriteCond %{REMOTE_ADDR} ^102.184.12.76$ [OR]
    RewriteCond %{REMOTE_ADDR} ^81.24.246.126$ [OR]
    RewriteCond %{REMOTE_ADDR} ^94.66.59.179$ [OR]
    RewriteCond %{REMOTE_ADDR} ^187.121.153.13$ [OR]
    RewriteCond %{REMOTE_ADDR} ^41.77.128.217$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.186.146.88$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.188.78.41$ [OR]
    RewriteCond %{REMOTE_ADDR} ^182.182.37.163$ [OR]
    RewriteCond %{REMOTE_ADDR} ^87.200.207.152$ [OR]
    RewriteCond %{REMOTE_ADDR} ^37.238.227.32$ [OR]
    RewriteCond %{REMOTE_ADDR} ^79.18.36.87$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.139.34.246$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.148.121.77$ [OR]
    RewriteCond %{REMOTE_ADDR} ^23.16.211.183$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.150.105.219$ [OR]
    RewriteCond %{REMOTE_ADDR} ^189.250.103.12$ [OR]
    RewriteCond %{REMOTE_ADDR} ^130.105.133.135$ [OR]
    RewriteCond %{REMOTE_ADDR} ^112.134.170.189$ [OR]
    RewriteCond %{REMOTE_ADDR} ^188.120.96.43$ [OR]
    RewriteCond %{REMOTE_ADDR} ^154.160.10.145$ [OR]
    RewriteCond %{REMOTE_ADDR} ^131.161.78.3$ [OR]
    RewriteCond %{REMOTE_ADDR} ^51.171.192.61$ [OR]
    RewriteCond %{REMOTE_ADDR} ^223.178.211.42$ [OR]
    RewriteCond %{REMOTE_ADDR} ^41.190.69.67$ [OR]
    RewriteCond %{REMOTE_ADDR} ^115.97.161.97$ [OR]
    RewriteCond %{REMOTE_ADDR} ^102.218.50.102$ [OR]
    RewriteCond %{REMOTE_ADDR} ^172.59.144.116$ [OR]
    RewriteCond %{REMOTE_ADDR} ^188.120.117.92$ [OR]
    RewriteCond %{REMOTE_ADDR} ^89.27.99.153$ [OR]
    RewriteCond %{REMOTE_ADDR} ^122.160.143.20$ [OR]
    RewriteCond %{REMOTE_ADDR} ^2.50.24.160$ [OR]
    RewriteCond %{REMOTE_ADDR} ^79.140.203.28$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.36.71.117$ [OR]
    RewriteCond %{REMOTE_ADDR} ^117.102.54.181$ [OR]
    RewriteCond %{REMOTE_ADDR} ^109.165.228.234$ [OR]
    RewriteCond %{REMOTE_ADDR} ^217.16.79.192$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.87.104.180$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.132.182.41$ [OR]
    RewriteCond %{REMOTE_ADDR} ^112.200.205.66$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.145.110.95$ [OR]
    RewriteCond %{REMOTE_ADDR} ^119.152.247.237$ [OR]
    RewriteCond %{REMOTE_ADDR} ^89.39.71.130$ [OR]
    RewriteCond %{REMOTE_ADDR} ^93.123.204.81$ [OR]
    RewriteCond %{REMOTE_ADDR} ^94.129.70.163$ [OR]
    RewriteCond %{REMOTE_ADDR} ^79.44.67.245$ [OR]
    RewriteCond %{REMOTE_ADDR} ^221.158.122.40$ [OR]
    RewriteCond %{REMOTE_ADDR} ^223.233.86.18$ [OR]
    RewriteCond %{REMOTE_ADDR} ^20.172.210.157$ [OR]
    RewriteCond %{REMOTE_ADDR} ^182.186.248.5$ [OR]
    RewriteCond %{REMOTE_ADDR} ^109.245.159.33$ [OR]
    RewriteCond %{REMOTE_ADDR} ^146.241.151.76$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.97.245.143$ [OR]
    RewriteCond %{REMOTE_ADDR} ^114.130.156.127$ [OR]
    RewriteCond %{REMOTE_ADDR} ^152.57.81.227$ [OR]
    RewriteCond %{REMOTE_ADDR} ^159.146.42.108$ [OR]
    RewriteCond %{REMOTE_ADDR} ^182.183.22.148$ [OR]
    RewriteCond %{REMOTE_ADDR} ^73.36.213.249$ [OR]
    RewriteCond %{REMOTE_ADDR} ^85.130.204.218$ [OR]
    RewriteCond %{REMOTE_ADDR} ^92.11.78.204$ [OR]
    RewriteCond %{REMOTE_ADDR} ^181.230.59.155$ [OR]
    RewriteCond %{REMOTE_ADDR} ^181.225.49.129$ [OR]
    RewriteCond %{REMOTE_ADDR} ^125.235.229.73$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.118.84.169$ [OR]
    RewriteCond %{REMOTE_ADDR} ^86.151.67.90$ [OR]
    RewriteCond %{REMOTE_ADDR} ^51.182.101.20$ [OR]
    RewriteCond %{REMOTE_ADDR} ^154.160.14.73$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.191.60.200$ [OR]
    RewriteCond %{REMOTE_ADDR} ^117.199.77.133$ [OR]
    RewriteCond %{REMOTE_ADDR} ^170.81.147.137$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.189.101.148$ [OR]
    RewriteCond %{REMOTE_ADDR} ^218.212.99.21$ [OR]
    RewriteCond %{REMOTE_ADDR} ^178.148.58.47$ [OR]
    RewriteCond %{REMOTE_ADDR} ^186.136.124.135$ [OR]
    RewriteCond %{REMOTE_ADDR} ^177.100.68.185$ [OR]
    RewriteCond %{REMOTE_ADDR} ^180.151.132.131$ [OR]
    RewriteCond %{REMOTE_ADDR} ^186.123.136.147$ [OR]
    RewriteCond %{REMOTE_ADDR} ^120.29.88.241$ [OR]
    RewriteCond %{REMOTE_ADDR} ^191.54.57.159$ [OR]
    RewriteCond %{REMOTE_ADDR} ^81.193.65.149$ [OR]
    RewriteCond %{REMOTE_ADDR} ^197.56.198.16$ [OR]
    RewriteCond %{REMOTE_ADDR} ^177.121.245.246$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.188.160.192$ [OR]
    RewriteCond %{REMOTE_ADDR} ^137.59.220.42$ [OR]
    RewriteCond %{REMOTE_ADDR} ^201.33.203.2$ [OR]
    RewriteCond %{REMOTE_ADDR} ^46.177.4.21$ [OR]
    RewriteCond %{REMOTE_ADDR} ^124.253.249.148$ [OR]
    RewriteCond %{REMOTE_ADDR} ^154.80.25.217$ [OR]
    RewriteCond %{REMOTE_ADDR} ^146.196.47.32$ [OR]
    RewriteCond %{REMOTE_ADDR} ^117.221.43.212$ [OR]
    RewriteCond %{REMOTE_ADDR} ^59.97.222.87$ [OR]
    RewriteCond %{REMOTE_ADDR} ^61.3.224.5$ [OR]
    RewriteCond %{REMOTE_ADDR} ^180.191.51.189$ [OR]
    RewriteCond %{REMOTE_ADDR} ^41.114.210.220$ [OR]
    RewriteCond %{REMOTE_ADDR} ^182.183.63.156$ [OR]
    RewriteCond %{REMOTE_ADDR} ^191.135.0.228$ [OR]
    RewriteCond %{REMOTE_ADDR} ^137.97.108.189$ [OR]
    RewriteCond %{REMOTE_ADDR} ^182.156.144.57$ [OR]
    RewriteCond %{REMOTE_ADDR} ^207.204.98.5$ [OR]
    RewriteCond %{REMOTE_ADDR} ^119.92.236.230$ [OR]
    RewriteCond %{REMOTE_ADDR} ^45.163.220.78$ [OR]
    RewriteCond %{REMOTE_ADDR} ^187.209.79.33$ [OR]
    RewriteCond %{REMOTE_ADDR} ^188.252.176.108$ [OR]
    RewriteCond %{REMOTE_ADDR} ^45.5.192.94$ [OR]
    RewriteCond %{REMOTE_ADDR} ^186.176.25.240$ [OR]
    RewriteCond %{REMOTE_ADDR} ^86.30.206.198$ [OR]
    RewriteCond %{REMOTE_ADDR} ^191.220.33.219$ [OR]
    RewriteCond %{REMOTE_ADDR} ^79.56.254.65$ [OR]
    RewriteCond %{REMOTE_ADDR} ^131.100.88.100$ [OR]
    RewriteCond %{REMOTE_ADDR} ^105.235.128.133$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.76.208.198$ [OR]
    RewriteCond %{REMOTE_ADDR} ^136.169.94.92$ [OR]
    RewriteCond %{REMOTE_ADDR} ^112.204.171.91$ [OR]
    RewriteCond %{REMOTE_ADDR} ^102.220.164.219$ [OR]
    RewriteCond %{REMOTE_ADDR} ^41.169.13.218$ [OR]
    RewriteCond %{REMOTE_ADDR} ^136.226.244.90$ [OR]
    RewriteCond %{REMOTE_ADDR} ^150.129.144.58$ [OR]
    RewriteCond %{REMOTE_ADDR} ^182.253.40.89$ [OR]
    RewriteCond %{REMOTE_ADDR} ^20.172.210.194$ [OR]
    RewriteCond %{REMOTE_ADDR} ^190.86.135.116$ [OR]
    RewriteCond %{REMOTE_ADDR} ^223.123.1.5$ [OR]
    RewriteCond %{REMOTE_ADDR} ^82.77.10.238$ [OR]
    RewriteCond %{REMOTE_ADDR} ^185.113.106.124$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.2.72.21$ [OR]
    RewriteCond %{REMOTE_ADDR} ^79.20.91.26$ [OR]
    RewriteCond %{REMOTE_ADDR} ^90.84.239.51$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.28.244.78$ [OR]
    RewriteCond %{REMOTE_ADDR} ^190.5.36.89$ [OR]
    RewriteCond %{REMOTE_ADDR} ^102.218.50.92$ [OR]
    RewriteCond %{REMOTE_ADDR} ^89.109.112.154$ [OR]
    RewriteCond %{REMOTE_ADDR} ^94.63.253.88$ [OR]
    RewriteCond %{REMOTE_ADDR} ^95.155.11.117$ [OR]
    RewriteCond %{REMOTE_ADDR} ^122.162.149.171$ [OR]
    RewriteCond %{REMOTE_ADDR} ^43.250.81.210$ [OR]
    RewriteCond %{REMOTE_ADDR} ^105.179.10.226$ [OR]
    RewriteCond %{REMOTE_ADDR} ^122.161.51.199$ [OR]
    RewriteCond %{REMOTE_ADDR} ^196.191.61.84$ [OR]
    RewriteCond %{REMOTE_ADDR} ^171.76.86.176$ [OR]
    RewriteCond %{REMOTE_ADDR} ^41.193.128.218$ [OR]
    RewriteCond %{REMOTE_ADDR} ^102.219.218.213$ [OR]
    RewriteCond %{REMOTE_ADDR} ^103.229.129.126$ [OR]
    RewriteCond %{REMOTE_ADDR} ^59.92.199.58$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.36.219.241$ [OR]
    RewriteCond %{REMOTE_ADDR} ^83.139.107.201$ [OR]
    RewriteCond %{REMOTE_ADDR} ^2.36.100.129$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.37.114.219$ [OR]
    RewriteCond %{REMOTE_ADDR} ^122.161.31.103$ [OR]
    RewriteCond %{REMOTE_ADDR} ^59.97.20.25$ [OR]
    RewriteCond %{REMOTE_ADDR} ^49.207.215.105$ [OR]
    RewriteCond %{REMOTE_ADDR} ^187.250.114.225$ [OR]
    RewriteCond %{REMOTE_ADDR} ^217.211.7.113$ [OR]
    RewriteCond %{REMOTE_ADDR} ^197.221.255.190$ [OR]
    RewriteCond %{REMOTE_ADDR} ^141.226.25.165$ [OR]
    RewriteCond %{REMOTE_ADDR} ^87.116.134.13$ [OR]
    RewriteCond %{REMOTE_ADDR} ^188.27.37.42$ [OR]
    RewriteCond %{REMOTE_ADDR} ^81.84.87.57$ [OR]
    RewriteCond %{REMOTE_ADDR} ^35.195.228.149$ [OR]
    RewriteCond %{REMOTE_ADDR} ^195.240.212.210$ [OR]
    RewriteCond %{REMOTE_ADDR} ^80.116.79.169$ [OR]
    RewriteCond %{REMOTE_ADDR} ^37.162.124.217$ [OR]
    RewriteCond %{REMOTE_ADDR} ^82.59.155.63$ [OR]
    RewriteCond %{REMOTE_ADDR} ^151.46.187.52$ [OR]
    RewriteCond %{REMOTE_ADDR} ^143.111.84.185$ [OR]
    RewriteCond %{REMOTE_ADDR} ^165.225.202.147$ [OR]
    RewriteCond %{REMOTE_ADDR} ^185.202.19.181$ [OR]
    RewriteCond %{REMOTE_ADDR} ^83.52.191.247$ [OR]
    RewriteCond %{REMOTE_ADDR} ^95.255.99.116$ [OR]
    RewriteCond %{REMOTE_ADDR} ^88.120.60.89$ [OR]
    RewriteCond %{REMOTE_ADDR} ^78.134.65.206$ 
    RewriteRule ^ - [F]
</IfModule>
#######   HTAccessIPBlocker END    #######